<div class="wrapper">
  <div class="top-bar">
    <div class='header-name'>
        <div class='lists-left'>
          <%= link_to 'アイテム登録　　', new_item_path,class: "edit-list" %>
        </div>
        <div class='lists-left'>
          <%= link_to 'カテゴリー追加　', "categories/new",class: "edit-list" %> 
        </div>
        <div class='lists-left'>
          <%= link_to 'アイテム一覧　　',categories_path ,class: "edit-list" %> 
       </div>
           <div class='lists-left'>
          <%= link_to '　　　釣果　　　', fishes_path,class: "edit-list" %></div>
          <div class='lists-left'>
          <%= link_to 'チェックリスト', checks_path,class: "edit-list" %></div>
          <div class='lists-left'>
          <%= link_to '　　　予定　　　', plans_path,class: "edit-list" %> </div>
    
        </div>
    </div>
  </div>
</div>
  